
:root {
    --back_color: #F0F0F0;
    --news_title_color: #e4e4ea;
    --content_back_color: #FFF;

    --li_border: 1px solid #ccc !important;
    background-color: var(--back_color);
    font-family: "Open Sans", sans-serif;
    font-size: 10px;

}

@media screen and (max-width: 700px) {
    body {
        margin-left: 0;
        width: 50rem;
        text-align: center;

    }
}

header.galkovsky_header {
    position: sticky;
    background-color: var(--back_color);
    opacity: 0.8;

    display: flex;
    flex-direction: column;
    top: 0;

    border-width: 0;
    margin-top: 0;
    box-sizing: border-box;

    max-height: 200px;
}

header div.header_box {
    display: flex;
    flex: 1 0 auto;


    flex-direction: row;

    padding-left: 5px;
    padding-right: 5px;

    height: 100px;
    max-height: 200px;
}


header div.header_box img {
    object-position: left;

    object-fit: scale-down;
    flex: 1 0 auto;

    height: 100%;
}

header div.header_title {
    flex: 5 0 auto;
    text-shadow: 1px 1px yellowgreen;


    text-align: center;
    border-color: black;

    display: flex;

    flex-direction: column;
}

header div.header_title span.main_title {


    font-family: "Open Sans", Tofu, serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;

    margin: 0;

    flex: 1 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}


@media only screen and (orientation: landscape) {
    header div.header_title span.sub_title {
        font-family: "Open Sans", Tofu, serif;
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.5;

        flex: 1 0 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

@media only screen and (orientation: portrait) {
    header div.header_title span.sub_title {
        display: none;
    }
}

@media screen and (min-width: 701px) {
    nav.menu_header_box {
        height: 40%;
        flex: 1 5 auto;
    }

    ul.menu_box {

        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;

        padding: 0;

        list-style: none;
    }

    li.header_menu_button {
        box-shadow: antiquewhite 2px 2px;
        background-color: antiquewhite;
        font-size: 1.5rem;

        margin-top: 6px;
        margin-right: 3px;
        margin-left: 3px;
        text-decoration: none;
        flex: 1 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        border: var(--li_border);
        border-radius: 5px;

    }

    li.header_menu_button a {
        text-decoration: none;
        flex: 1 2;

        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    header div.header_title span.main_title {
        font-family: "Open Sans", Tofu, serif;
        text-transform: uppercase;

        font-style: italic;
        white-space: initial;
        font-size: 3rem;
        font-weight: 900;
        line-height: normal;

        margin: 0;

        flex: 1 0 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    nav.menu_header_box {
        height: 20%;
        flex: 1 0 auto;
    }


    ul.menu_box {

        margin: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;

        list-style: none;
    }

    li.header_menu_button {
        box-shadow: lightgoldenrodyellow 2px 2px 2px 2px;

        background-color: antiquewhite;
        font-size: 2rem;

        margin-top: 6px;
        margin-right: 3px;
        margin-left: 3px;
        text-decoration: none;
        flex: 1 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        border: var(--li_border);
        border-radius: 5px;

    }

    li.header_menu_button a {
        text-decoration: none;
        font-style: oblique;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


main {
    display: flex;
    background-color: var(--back_color);
}

div.page_content {
    background-color: var(--back_color);

    flex: 5 1 auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-content: center;
    justify-content: center;


    border: 10px solid var(--back_color);
    border-radius: 20px;

}


div.main_content {

    flex: 1 1 600px;

    background-color: var(--content_back_color);
    display: flex;
    flex-direction: column;

    width: 70%;
    padding-left: 0;
    padding-right: 0;

    padding-top: 10px;

    border: 10px solid var(--back_color);
    border-radius: 20px;

    box-sizing: border-box;

}

form.main_content_search_area {
    height: 100px;
    display: flex;
    flex-direction: column;

    padding-left: 5px;
    padding-right: 5px;

    align-items: center;

    margin-bottom: 20px;
}


textarea.main_content_search {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;

}


aside.main_aside_group {

    flex: 1 0;


    background-color: var(--content_back_color);

    max-width: 400px;

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    right: 0;

    border: 10px solid var(--back_color);
    border-radius: 20px;
    box-sizing: border-box;

}

section.aside_news_section {
    display: flex;
    flex-direction: column;
    background-color: oldlace;

}


div.aside_news_title {
    display: flex;
    border-radius: 10px;

    background-color: var(--back_color);

    flex-direction: column;
    text-align: center;
    border: var(--li_border);

    box-shadow: peachpuff 3px 3px 3px 3px;
}

ul.aside_news_box {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-right: 0;
    padding-left: 20px;

}

li.aside_news_subelement {
    border-top: var(--li_border);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
}


a.aside_news_subelement_ref {
    border-width: 0;
    padding: 0;
    text-align: left;

    display: flex;
    flex-direction: row;

    justify-content: center;

}

img.aside_news_image {

    max-height: 100px;
    object-fit: scale-down;
    padding: 10px;

}

span.aside_news_comment {
    padding-top: 10px;
}

.grid_table {
    display: grid;
    border: solid 0.5px #000;
    grid-auto-flow: row;

}



.grid_table_header {
    border: solid 1px #000;
    font-family: "Times New Roman", serif;
    grid-column: 1/5;
    text-align: center;
    opacity: 0.5;
    background-color: #a8c7fa;

    padding-top: 3px;
    padding-bottom: 3px;

}

.grid_column_name {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    font-family: "Times New Roman", serif;
    border: solid 0.5px #000;
}


.grid_row_name {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: "Times New Roman", serif;
    border: solid 0.5px #000;
    background-color: lightgray;
}



.grid_row_data {
    border: solid 0.5px #000;
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
}

.grid_row {
    display: grid;
    grid-auto-flow: column;
}

.grid_row:nth-child(even) {
    background-color: yellowgreen;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    color: #444;
    max-width: 800px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}
.row {
    display: contents;
}





