* {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

}


:root {
    --back_color: #F0F0F0;
    --news_title_color: #e4e4ea;
    --content_back_color: #FFF;

    --li_border: 1px solid #ccc !important;

    background-color: var(--back_color);
}

header {
    position: sticky;
    background-color: var(--back_color);
    opacity: 0.8;
    flex-direction: column;
    border-width: 0;
    margin-top: 0;
    box-sizing: border-box;
}

header div.header_box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


header div.header_box img {
    object-fit: scale-down;

    max-width: 20%;
    max-height: 100px;

}

header div.header_title {
    flex: 5;

    text-align: center;


    overflow: clip;

    letter-spacing: 1px;

    border-color: black;

    display: flex;

    flex-direction: column;
}

header div.header_title span.main_title {


    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.5;

    margin: 0;

    flex: 1 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;


}

@media only screen and (orientation: landscape) {
    header div.header_title span.sub_title {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;

        flex: 1 0 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

@media only screen and (orientation: portrait) {
    header div.header_title span.sub_title {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    nav.menu_header_box {
        height: 40%;
        flex: 1 5 auto;
    }

    ul.menu_box {

        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;

        padding: 0;

        list-style: none;
    }

    li.menu_button {


        background-color: antiquewhite;
        font-size: 1.5rem;

        margin-top: 6px;
        margin-right: 3px;
        margin-left: 3px;
        text-decoration: none;
        flex: 1 200px;


        display: flex;
        flex-direction: column;
        justify-content: center;

        border: var(--li_border);
        border-radius: 5px;

    }

    li.menu_button a {
        text-decoration: none;
        flex: 1 2;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 899px) {
    nav.menu_header_box {
        height: 20%;
        flex: 1 5 auto;
    }


    ul.menu_box {

        margin: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;

        list-style: none;
    }

    li.menu_button {

        background-color: antiquewhite;
        font-size: 15px;

        margin-top: 6px;
        margin-right: 3px;
        margin-left: 3px;
        text-decoration: none;
        flex: 1 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        border: var(--li_border);
        border-radius: 5px;

    }

    li.menu_button a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


main {
    display: flex;
    background-color: var(--back_color);
}

div.page_content {
    background-color: var(--back_color);

    flex: 5 1 1000px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-content: center;
    justify-content: center;


    border: 10px solid var(--back_color);
    border-radius: 20px;

}


div.main_content {

    flex: 1 1 600px;

    background-color: var(--content_back_color);
    display: flex;
    flex-direction: column;


    width: 70%;
    padding-left: 0;
    padding-right: 0;

    padding-top: 10px;

    border: 10px solid var(--back_color);
    border-radius: 20px;

    box-sizing: border-box;

}

form.main_content_search_area {
    height: 100px;
    display: flex;
    flex-direction: column;

    padding-left: 5px;
    padding-right: 5px;

    align-items: center;

    margin-bottom: 20px;
}


textarea.main_content_search {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;

}


aside.main_aside_group {

    flex: 1 0;


    background-color: var(--content_back_color);

    max-width: 400px;

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    right: 0;

    border: 10px solid var(--back_color);
    border-radius: 20px;
    box-sizing: border-box;

}

section.aside_news_section {
    display: flex;
    flex-direction: column;
}


div.aside_news_title {
    display: flex;
    border-radius: 10px;

    background-color: var(--news_title_color);

    flex-direction: column;
    text-align: center;
    border: var(--li_border);

}

ul.aside_news_box {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-right: 0;
    padding-left: 20px;
}

li.aside_news_subelement {
    border-top: var(--li_border);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
}


a.aside_news_subelement_ref {
    border-width: 0;
    padding: 0;
    text-align: left;

    display: flex;
    flex-direction: row;

    justify-content: center;

}

img.aside_news_image {

    max-height: 100px;
    object-fit: scale-down;
    padding: 10px;

}

span.aside_news_comment {
    padding-top: 10px;
}

div.grid_table {
    display: grid;
    border: solid 0.5px #000;
}


div.grid_table_header {
    border: solid 0.5px #000;
    font-family: "Times New Roman", serif;
    grid-column: 1/6;
    text-align: center;
    vertical-align: center;
    opacity: 0.5;
    background-color: #a8c7fa;

    padding-top: 3px;
    padding-bottom: 3px;

}

div.grid_column_name {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    font-family: "Times New Roman", serif;
    border: solid 0.5px #000;
    background-color: lightgray;
}


div.grid_row_name {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: "Times New Roman", serif;
    border: solid 0.5px #000;
    background-color: lightgray;
}


div.grid_row_data_colored {
    background-color: lightblue;
    border: solid 0.5px #000;
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
}
div.grid_row_data{
    border: solid 0.5px #000;
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
}







